<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.dao.courseIntroMapper">
  <resultMap id="BaseResultMap" type="com.learn.model.courseIntro">
    <id column="course_introid" jdbcType="INTEGER" property="courseIntroid" />
    <result column="cintro_videourl" jdbcType="VARCHAR" property="cintroVideourl" />
    <result column="cintro_notice" jdbcType="VARCHAR" property="cintroNotice" />
    <result column="operationdate" jdbcType="TIMESTAMP" property="operationdate" />
    <result column="courseid" jdbcType="INTEGER" property="courseid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    course_introid, cintro_videourl, cintro_notice, operationdate, courseid, userid, 
    value
  </sql>
  
    <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course_intro
  </select>
  
   <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.learn.model.courseIntro">
    SELECT
    <include refid="Base_Column_List" />
    from course_intro
   	<where>
   	<if test="courseIntroid != null">
   		and course_introid = #{courseIntroid}
   	</if>
   	<if test="cintroVideourl != null">
   		and cintro_videourl = #{cintroVideourl}
   	</if>
   	<if test="cintroNotice != null">
   		and cintro_notice = #{cintroNotice}
   	</if>
   	<if test="operationdate != null">
   		and operationdate = #{operationdate}
   	</if>
   	<if test="courseid != null">
   		and courseid = #{courseid}
   	</if>
   	<if test="userid != null">
   		and userid = #{userid}
   	</if>
   	<if test="value != null">
   		and value = #{value}
   	</if>
   	</where>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course_intro
    where course_introid = #{courseIntroid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course_intro
    where course_introid = #{courseIntroid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.learn.model.courseIntro">
    insert into course_intro (course_introid, cintro_videourl, cintro_notice, 
      operationdate, courseid, userid, 
      value)
    values (#{courseIntroid,jdbcType=INTEGER}, #{cintroVideourl,jdbcType=VARCHAR}, #{cintroNotice,jdbcType=VARCHAR}, 
      #{operationdate,jdbcType=TIMESTAMP}, #{courseid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.learn.model.courseIntro">
    insert into course_intro
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseIntroid != null">
        course_introid,
      </if>
      <if test="cintroVideourl != null">
        cintro_videourl,
      </if>
      <if test="cintroNotice != null">
        cintro_notice,
      </if>
      <if test="operationdate != null">
        operationdate,
      </if>
      <if test="courseid != null">
        courseid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="value != null">
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseIntroid != null">
        #{courseIntroid,jdbcType=INTEGER},
      </if>
      <if test="cintroVideourl != null">
        #{cintroVideourl,jdbcType=VARCHAR},
      </if>
      <if test="cintroNotice != null">
        #{cintroNotice,jdbcType=VARCHAR},
      </if>
      <if test="operationdate != null">
        #{operationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.learn.model.courseIntro">
    update course_intro
    <set>
      <if test="cintroVideourl != null">
        cintro_videourl = #{cintroVideourl,jdbcType=VARCHAR},
      </if>
      <if test="cintroNotice != null">
        cintro_notice = #{cintroNotice,jdbcType=VARCHAR},
      </if>
      <if test="operationdate != null">
        operationdate = #{operationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="courseid != null">
        courseid = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where course_introid = #{courseIntroid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.learn.model.courseIntro">
    update course_intro
    set cintro_videourl = #{cintroVideourl,jdbcType=VARCHAR},
      cintro_notice = #{cintroNotice,jdbcType=VARCHAR},
      operationdate = #{operationdate,jdbcType=TIMESTAMP},
      courseid = #{courseid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=INTEGER},
      value = #{value,jdbcType=VARCHAR}
    where course_introid = #{courseIntroid,jdbcType=INTEGER}
  </update>
</mapper>